body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url(Desktop-background.svg);
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  img {
    max-height: 300px;
    padding: 15px;
  }
  
  button {
    margin-bottom: 50px;
  }

  p {
    color: #ffffff;
    font-size: 18px;
  }

  #linkImg {
    margin-bottom: 20px;
  }

  img:hover {
    transition: transform 0.5s;
    transform: scale(1.1);
  }
  